.venv/
__pycache__/
*.pyc
.env
*.egg-info/
.pytest_cache/
.DS_Store
data/raw/*.csv
data/raw/*.json
!data/sample/
.databrickscfg
*.zip
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
terraform.tfvars